.pokemonTypegrass {
    background: #5deb80;
}

.pokemonTypefire {
    background: #ff3838;
}

.pokemonTypewater {
    background: #358dff;
}

.pokemonTypeground {
    background: #a7642e;
}

.pokemonTypebug {
    background: #a79b2e;
}

.pokemonTypenormal {
    background: #e4e4e4;
}

.pokemonTyperock {
    background: #c5c5c5;
}

.pokemonTypepoison {
    background: #bb34d6;
}

.pokemonTypepsychic {
    background: #863a96;
}

.pokemonTypefairy{
    background: #9d47ff;
}

.pokemonTypeelectric{
    background: #fac943;
}

.pokemonTypefighting  {
    background: #949090;
}